body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
}
#grid-container {
    max-width: 90%;
    margin:auto;
}

.navbar {
    background: burlywood;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 10px;
    background: #007bff;
    transition: background 0.3s ease;
}

.navbar a:hover {
    background: #0056b3;
}